@font-face {
  font-family: "TT Hoves";
  src: url("../css/fonts/TT-Hoves/TTHoves-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../css/fonts/TT-Hoves/TTHoves-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../css/fonts/TT-Hoves/TTHoves-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../css/fonts/TT-Hoves/TTHoves-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../css/fonts/SF-Pro-Display/SF-Pro-Display-Black.ttf") format("truetype");
  font-weight: 900;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "TT Hoves", sans-serif;
  background-color: #FFF;
  color: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  color: #BDBDBD;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 120px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-more {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #FFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
}

.logo-caption {
  position: absolute;
  top: 29px;
  right: 0px;
}

.nav {
  margin-left: 332px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.nav__link {
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #333;
}
.nav__link.current::before {
  content: "";
  position: absolute;
  top: 39.83px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0.971px;
  background-color: #333;
}
.nav__link.current::after {
  content: "";
  position: absolute;
  bottom: 39.83px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0.971px;
  background-color: #333;
}

.hero {
  padding-top: 102px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 90px;
}

.hero__title__home {
  font-weight: 700;
  color: #333;
}

.hero__button__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22.94px;
}

.hero__button {
  padding: 15px 14px 14px 15px;
  border: 1px solid #F2F2F2;
  background-color: #FFF;
  cursor: pointer;
}

.hero__icon {
  fill: currentColor;
}

.hero__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 88px;
}

.hero__slider__number {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #BDBDBD;
}
.hero__slider__number.first::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 58px;
  display: inline-block;
  width: 43.822px;
  height: 1.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  background-color: #E0E0E0;
}

.hero__img {
  position: relative;
}

.hero__link {
  position: absolute;
  bottom: -1px;
  left: -1px;
  padding: 30px 50px;
  width: 222px;
  background-color: #FFF;
}

.hero__link__icon {
  position: absolute;
  top: 25px;
  right: 50px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 465px;
  gap: 30px;
  padding: 30px 70px 0px 100px;
}

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 570px;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.about__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.563;
  color: #000;
}

.about__link {
  position: relative;
  padding: 30px 64px 29px 65px;
  width: 222px;
}

.about__link__icon {
  position: absolute;
  top: 24px;
  right: 64px;
}

.goals__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.goals__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 187px;
}

.goals__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goals__number {
  font-family: "SF Pro Display", sans-serif;
  font-size: 200px;
  font-weight: 900;
  line-height: normal;
  color: #F2F2F2;
}

.goals__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.636;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 60px;
  margin-bottom: 30px;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(51, 51, 51, 0.8);
  opacity: 0;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__overlay__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
}

.project__overlay__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-top: 14px;
  color: #FFF;
}

.project__overlay__icon {
  fill: currentColor;
}

.allProjects__link {
  position: relative;
  padding: 30px 40px 29px 39px;
  width: 222px;
  margin-left: auto;
  background-color: #333;
  color: #FFF;
}

.allProjects__link__icon {
  position: absolute;
  top: 24px;
  right: 40px;
  fill: currentColor;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 22px;
}

.contact-form {
  width: 100%;
}

.contact-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form__input {
  width: 100%;
  padding: 14px 21px;
  background-color: #F3F3F3;
  border-radius: 4px;
  border: none;
  outline: transparent;
  cursor: pointer;
}
.contact-form__input:focus {
  border: 1px solid #333;
}
.contact-form__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contact-form__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contact-form__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contact-form__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contact-form__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}

textarea {
  resize: none;
}

.contact-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-bottom: 21px;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__checkbox:checked + .contact-form__icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__checkbox:checked + .contact-form__icons .icon-unchecked {
  opacity: 0;
}

.contact-form__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.contact-form__link {
  display: inline-block;
  text-decoration-line: underline;
  font-weight: 500;
  color: #000;
}

.contact-form__button {
  position: relative;
  width: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 30px 49px 29px 47px;
  color: #FFF;
  background-color: #333;
}

.contact-form__button__icon {
  position: absolute;
  top: 24px;
  right: 49px;
  fill: currentColor;
}

.footer {
  background-color: #2C2C2C;
  color: #FFF;
}

.footer__base {
  padding-top: 58px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  position: relative;
  color: #FFF;
  margin-right: 100px;
}

.footer__logo-img {
  fill: currentColor;
}

.footer__logo-caption {
  position: absolute;
  top: 65px;
  right: 0px;
}

.footer__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.address {
  font-style: normal;
  margin-left: 157px;
  margin-right: 70px;
}

.footer__info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer__contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  width: 314px;
}

.footer__contacts__icon {
  fill: currentColor;
}

.footer__socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer__socials__icon {
  fill: #FFF;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7143;
  letter-spacing: 0.42px;
  cursor: pointer;
}

.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Open Sans", sans-serif;
  color: rgba(200, 200, 200, 0.5);
  font-size: 12px;
  line-height: 1.833;
}/*# sourceMappingURL=main.css.map */