.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: $background-color;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  transform: none;
  transition: transform $animation;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.logo-caption {
  position: absolute;
  top: 29px;
  right: 0px;
}
