html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $basic-font-family;
  background-color: $background-color;
  color: $basic-text-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: $basic-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  color: $title-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 120px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-more {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
  transform: none;
  transition: transform $animation;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
